
@import url('https://fonts.googleapis.com/css2?family=Poppins:wght@400;500;700&display=swap');
body {
    box-sizing: border-box;
    margin: 0%;
    padding: 0%;
    background-color: rgb(208, 221, 247);
    font-family: "poppins";

}
header {
    background-color: hsl(204, 66%, 69%);
    margin: 0 auto;
}



.top{
    background-color: rgb(208, 221, 247);
    display: flex;
    justify-items: center;
    align-items: center;
    justify-content: space-between;
    
}

.navbar {
    display: flex;
    justify-content: center;
    align-items: center;
    background-color: hsl(204, 100%, 84%);
    padding: 10px 20px;
    position: relative;
}

.logo a {
    color: #020b5c;
    font-size: 1.5em;
    text-decoration: none;
    margin-right: auto;
}

.nav-links {
    list-style: none;
    display: flex;
    gap: 20px;
}

.nav-links a {
    color: #020b5c;
    text-decoration: none;
    font-size: 1.2em;
}

.dropdown {
    position: relative;
}

.dropdown-menu {
    display: none;
    position: absolute;
   background-color: hsl(204, 100%, 84%);
    top: 100%;
    left: 0;
    list-style: none;
    padding: 0px;
    width: max-content;
    font-size: 13px;
    width: 100%;
    
}

.dropdown-menu li {
    
    margin-bottom: 10px;
}

.dropdown-menu li:last-child {
    margin-bottom: 0;
}

.dropdown-menu li:hover {
    background-color: rgba(0, 0, 255, 0.329);
}
.dropdown:hover .dropdown-menu {

    
    display: block;

}

.dropdown-menu a {
    color: #020b5c;
    text-decoration: none;
    font-size: 1em;
    display: block;
}

.dropdown.open .dropdown-menu {
    display: block;
    
}
nav ul li a:hover {
    background-color: rgba(0, 0, 255, 0.329);
}
button .logo  {
    text-decoration: none;
    justify-content: space-between;
    cursor: pointer;
}


a:visited {
    color: #020b5c;
}

.logo  {

    color: #020b5c;
    font-size: 20px;
    font-weight: bold;
    padding: 0px 10px;
}

main {
   justify-content: center;
   padding: 10px 20px;
   text-align: center;
   color: #020b5c;

}

img {
    width: 250px;
    align-items: center;
    justify-items: center;
    padding: 0px 13px;
}
 button {
    background-color: rgb(91, 152, 245);
    padding: 0px 30px;
    margin: 30px;
    
    border-radius: 5%;
    list-style: none;
    border: none;
 }

 button:hover {
    background-color: rgba(0, 0, 255, 0.329);
 }

p {
    display: flex;
    text-align: center;
}

footer {
    background-color: hsl(204, 100%, 84%);
    display: flex;
    align-items:center;
    justify-content: space-between;
    padding: 20px 15px;
    color: #020b5c;

}

.imagem01 {
    width: 280px;

}
.endlist {
    display: flex;
    text-decoration: none;
    list-style: none;
    gap: 20px;
    font-size: 12px;
}

.endlist:visited {
    color: #020b5c;
}

    

